<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>Fonts</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>xyz.itsverso.app.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(VERSO_CALLBACK_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 Hugo Sanchez. Licensed under AGPL-3.0-only.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SentryDSN</key>
	<string>https://1bd0670957f6aadd9420cc8994242648@o4511489974468608.ingest.de.sentry.io/4511489980039248</string>
	<key>SUFeedURL</key>
	<string>https://www.itsverso.xyz/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>GpEYWMJ6pQkdx7GsHJLM4YZGsqcLik5BX0jhqm1yJuc=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>3600</integer>
</dict>
</plist>
